.b-panel
{
    border-left: 3px solid black;
    padding: 10px 10px 10px 97px;
    width: 770px;
    background: white;
    position: fixed;
    bottom: 0;
    top: 0;
    margin-left: 100%;
}
@media print {
    .b-panel
    {
        display: none;
    }
}
.b-panel__tab
{
    display: none;
    height: 90%;
    overflow: auto;
    padding: 0 20px 10% 0;
}
.b-panel__tab_visibility_visible
{
    opacity: 0;
}
.b-panel__tab_visibility_hidden
{
    opacity: 1;
}